* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: 'PT Sans', sans-serif; */


}


html{
  /* font-size: large; */

}

h4{
  font-size: larger;
}

a{
  color:black
}

.poster{
  padding: 12px;
}

.home{
  /* min-width: 898px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  margin:auto;
 
}

.loading{
  margin: auto 400px;
}

.no-posts{
  margin: 200px auto;
  width: max-content;
}



/* .home h6:nth-child(4){
  font-weight: 400;
  font-size: medium;
} */

.brand-logo, h2 {
  font-family: "Cookie", cursive;
  font-size: 55px !important;
  left: 15%;
  color: black !important;
}

nav{
  position: sticky;
  top: 0;
  margin-bottom: 20px;
  z-index: 100;
  background-color: white;
  
  
}

.nav-wrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center; 
  position: absolute;
  /* background-color: red !important; */
  /* width:100vw; */
}

.nav-wrapper .menu{
  position: fixed;
  color:black;
  right:0;
  display: none;
}

.delete {
  position: absolute;
  right: 0;
  margin-right: 3px;
}



.collection{
  display: flex;
  flex-direction: column;
}

.right-links{
  display:flex;
  justify-content: space-between;
  margin-right: 70px;
  /* background-color: green; */
}

@media(max-width:1083px){
  .brand-logo, h2 {
    font-family: "Cookie", cursive;
    font-size: 55px !important;
    left: 10%;
    color: black !important;
    /* transition: 150ms ease-in; */
  }

  .right-links{
    display:flex;
    justify-content: space-between;
    margin-right: 70px;
    /* background-color: green; */
  }

  .right-links a{
    font-size: 16px;
    font-weight: 500;
  }

  .delete {
    position: absolute;
    right: 0;
    margin-right: 3px;
  }

  .close{
    position: absolute;
    color: black;
    font-size: 40px !important;
    margin-left: 70px;
  }

  
}

@media(max-width:880px){
  .nav-wrapper{
    width:200px;
    display: grid;
    grid-template-columns: repeat(6,1fr);

  }


  .nav-wrapper .menu{
    position: fixed;
    color:black;
    right:5%;
    display:unset;
  }

  .search{
    margin-left: 10px;
  }
  

  .nav-mobile{
    margin-top: 50px;
    background-color: grey !important;   /* REMOVE LATER  */
    display:none;    
  }

  .nav-mobile-active{
    margin-top: 58px;
    background-color: whitesmoke !important;
    border: 2px solid gray;
    box-shadow: 3px 6px grey;
    width: 200px !important;
    position: fixed;
    top: 0;
    margin-right: 10% !important;
    height:90vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .right-links{
    display: flex !important;
   flex-direction: column;
   justify-content: space-between !important;
   top:0;
   width:100%
   
  }

  .right-links a{
    font-size: 18px;
    font-weight: unset;
  }
  
}



nav ul a{
  color: black !important;
}

.myCard{
 margin-top: 30px;
 display: flex;

}

.auth-card{
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  max-width: 400px;
}

.home-card{
  max-width: 500px !important;
  /* height: max-content; */
  margin: 26px auto;
  /* min-width: 500px !important; */
}

.card{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin: 26px auto;
}

.card .home-card{
  width:max-content;
}


.card p {
  margin-top: 10px;
  margin-left: 10px;

}

.card-image img{
  width:500px;
  height:350px;
}

.heading{
display: flex;
width: 100%;
height:60px;
}




.nameIcon{
  display: flex;
  align-items: center;

}


.heading_photo{
  border-radius: 50%;
  width: 10%;
  min-width: 40px;
}


.postedBy_name{
  margin-left: 7px;
  position: relative;
  left:0;
}



p:nth-child(1){
  font-weight: 700;
}



.card-content{
  display: flex;
  flex-direction: column;
  width: 100%;
 
}

.icons{
  /* position: relative; */
  display: flex;
  width:max-content;
  margin-left:auto;
}


.search {
  color:black;
  display: flex;
  font-size: 35px !important;
  font-weight: 700 !important;
}

.material-icons:hover{
  cursor: pointer;
}

.comment{
  font-size: medium;
}

span{
  font-weight: 700;
  font-size: medium;
}

.btnx{
  width: 100%;
  margin: auto;
}

.btnx span {
  font-weight: 700;
  font-size: medium;
  color: white;
  
}
.imgButton{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgButton .btnx{
  position: relative;
  width:max-content + 20px;
  display: flex;
  justify-content: center;

  
}

.imgButton span{
  font-weight: 500;
}


.input-field input:focus {
     border-bottom: 1px solid rgb(8 , 93, 252) !important;
     box-shadow: 0 1px 0 0 rgb(183, 199, 228) !important;
}

::-webkit-input-placeholder {
  font-weight: 650;
}

.btn {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  font-weight: 700;
  font-size: large;
}





 .btnx2{
  margin-top:14px; 
  color: white !important;
  background-color: #d32f2f !important;
  margin-left: 10px;
  width:90%;
  

}

.btnx2:hover{
 background-color: #b71c1c !important;
 transition: 200ms;
  
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* max-width:1200px; */
  /* padding-left: 160px; */


}

.gallery > img {
  margin: 20px 50px !important;

}

.item{
  min-width: 120px;
  width:25%;
}





#toast-container{
  top: 80px !important;
  right: 20px !important;
  left: auto !important;
}

/* Profile */
.profile__container{
  display: flex;
  justify-content: center;
}

.profile__details{
  margin-left: 30px;
}

@media(max-width:640px){
  .profile__container{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    place-items:center;
  }

  .profile__details{
    margin: 0 auto;
    font-size: small;
  }

  .item{
    min-width: 200px;
    width:100%;
  }



}

